<%- include('../components/start') %>

    <%- include('../components/navbar') %>
    <link rel="stylesheet" href="/css/home.css">
    <main class="mainCont">
        <% for(let product of products) {%>
            <a href="/product/<%= product.id %>">
                <div class="productCont">
                    <img src="<%= product.img %>" alt="">
                    <p class="productTitle"><%=  product.title %></p>
                    <p class="productPrice">₹<%=  product.price %></p>
                    <%- include('../components/cardAction', { product: product }) %>
                </div>
            </a>
        <% } %>   
    </main>


<%- include('../components/end') %>