<%- include('./components/start') %>

    <%- include('./components/navbar') %>
    <link rel="stylesheet" href="/css/editProduct.css">

    <%- include('./components/adminNavbar') %>

    <main class="editProductCont">
        <form action="/admin/updateProduct" method="post">
            <input type="hidden" value="<%= product.id %>" name="productId">
            <label for="title">Product Title </label><br>
            <input type="text" value="<%= product.title %>" name="title"><br>
            <label for="price">Product Price</label><br>
            <input type="text" value="<%= product.price %>" name="price"><br>
            <label for="desc">Product Description</label><br>
            <input type="text" value="<%= product.desc %>" name="desc" id="desc"><br>
            <label for="img">Product Image URL</label><br>
            <input type="text" value="<%= product.img %>" name="img"><br>
            <button type="submit">Edit Product</button>
        </form>
    </main>

<%- include('./components/end') %>