<%- include('../components/start') %>

    <%- include('../components/navbar') %>

    <link rel="stylesheet" href="/css/cart.css">

    <main class="cartCont">
        <div class="cartItemCont" style="margin-bottom: 1.6rem; padding-bottom: 0.5rem; border-bottom: 1px solid lightgrey;">
            <div class="imgCont">
                <h2>Image</h2>
            </div>
            <div class="detailCont">
                <h2>Product Details</h2>
            </div>
            <div class="qtyCont">
                <h3>Qty.</h3>
            </div>
            <div class="actions">
            </div>
        </div>
        <form action="/cart/updateQuantity" method="post">
            <% for(let item of cart){ %>
                <div class="cartItemCont">
                    <div class="imgCont">
                        <img src="<%= item.productImg %>" alt="">
                    </div>
                    <div class="detailCont">
                        <h3><%= item.productTitle %></h3>
                        <p>₹ <%= item.productPrice %></p>
                    </div>
                    <div class="qtyCont">
                        <p><input type="number" name="quantity" value="<%= item.qty %>" data-product-id="<%= item.productId %>" min="1" max="10"></p>
                    </div>
                    <div class="actionCont">
                        <a href="/cart/remove-item/<%= item.productId %>"><ion-icon name="trash-outline" class="del-icons icons" ></ion-icon></a>
                    </div>
                </div>
            <% } %>
        </form>
        <div class="cartItemCont" style="align-items: start;">
            <div class="imgCont">
            </div>
            <div class="detailCont">
                <h2>Total</h2>
            </div>
            <div class="qtyCont">
                <p id="cartTotalAmount">₹ <%= cartTotal %></p>
                <div class="checkoutCont">
                    <a href="/cart/checkout"><button>Checkout</button></a>
                </div>
            </div>
            <div class="actions">
            </div>
        </div>
        
        
    </main>
    <script src="/js/updateCart.js"></script>
<%- include('../components/end') %>